body,html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}


.hero-section {
  position: relative;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.content {
  z-index: 2;
  color: #000;
}

.navbar-brand {
  letter-spacing: 2px;
}

.nav-link {
  position: relative;
  transition: color 0.8s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: width 0.3s ease;
  opacity: 0;
}

.nav-link:hover {
  color: red !important;
}

.nav-link:hover::after {
  width: 100%;
  opacity: 1;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease;
}


@media (max-width: 768px) {
  .hero-section {
    height: 80vh;
  }

  .content h2 {
    font-size: 1.8rem;
  }
}

.navbar-nav {
  margin-left: 200PX;
  color: #000;
}


.navbar-scrolled {
  background-color: white !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link {
  color: black !important;
}




.navbar-brand {
  letter-spacing: 2px;
}


.hero-img {
  height: 90vh;
  object-fit: cover;
  filter: brightness(70%);
}

.carousel-caption {
  bottom: 5%;
}

.carousel-caption h2 {
  font-size: 2.5rem;
}

.carousel-caption p {
  font-size: 1.1rem;
}

.card-text {
  margin-top: 100px;
}

.carg-text > h1{
  margin-top: 50px;
}

.navbar{
  color: black;
}

.card img {
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}


footer {
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .hero-img {
    height: 70vh;
  }

  .carousel-caption {
    bottom: 20%;
  }
}




.footer {
  font-family: 'Poppins', sans-serif;
  /* margin-top: 100px; */
  background-color: rgba(191, 187, 187, 0.867);
}

.footer h6 {
  font-size: 15px;
  letter-spacing: 0.5px;
}

.footer p,
.footer a {
  font-size: 14px;
  color: #000;
}

.footer a:hover {
  color: #777;
}

.footer hr {
  border-color: #ccc;
}
.footer .fa-brands {
  font-size: 20px;
  margin-right: 15px;
  color: #000;
}





